.main {
	max-width: var(--max-width);
	min-height: 100vh;
}

.resultsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	padding-bottom: 100px;
	gap: 50px;
}

.searchSection {
	display: flex;
	background-color: white;
	height: 100px;
}