@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;

	--red: #b61c1c;
	--yellow: #f8c73a;
	--white: #ececec;
	--purple: #7953cb;
	--blue: #149cc7;
	--green: #6ba744;
	--light-grey: #cccccc;
	--grey: #5c5c5c;
	--facebookBlue: #1877F2;
	--max-width: 1100px;
}

body {
	color: rgb(var(--foreground-rgb));
	background: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}
