.card {
    /* border: 1px solid #ddd; */
    padding: 20px;
    text-align: start;
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 250px;

}

.image {
    width: 160px; /* Adjust the image size as needed */
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 2px solid var(--yellow);
}

.name {
    font-size: 0.95em;
    margin-bottom: 5px;
    font-weight: bold;
}

.position {
    font-size: 0.65em;
    color: var(--grey);    
    padding-top: 10px;
}

.description {
    font-size: 0.65em;
    color: var(--light-grey);   
    padding-top: 10px;
}

.line {
    margin-top: 0px;
    height: 1.5px;
    background-color: var(--grey);
    width: 50px;
}



.socialMedia {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.socialMedia a {
    display: block;
    margin-right: 10px;
    text-decoration: none;
    width: 30px;
}