.nav_box {
  height:76px;
  align-self:flex-start;
  z-index: 2;
  text-align: center;
}

.navbar {
	position:fixed;
  width: 100%;
  background-color: var(--green);
  text-align: center;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  margin: auto;
}

.link {
  color: white;
  position: relative;
}

.link::after {
  content: '';
  height: 3px;
  width: 100%;
  background: var(--yellow);
  position: absolute;
  left: 0;
  bottom: -0.4em;
  opacity: 0;
  pointer-events: none;
}

.link:hover::after {
  opacity: 1;
  transition: all 0.3s;
}

.link_active {
  color: white;
  text-decoration-line: underline;
  text-underline-offset: 0.63em;
  text-decoration-color: var(--yellow);
  text-decoration-thickness: 3px;
}
